.popupContainer {
  display: flex;
  gap: 20px;
  img {
    width: 64px;
    height: 48px;
    object-fit: cover;
    border-radius: 5px;
    &:hover {
      transform: scale(1.4);
      transition: all ease-in 0.3s;
    }
  }
  .textContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
